@charset "utf-8";

$backDrop: rgba(0, 0, 0, 0.2);
$lightPurple: #7f75ff;
$darkPurple: #564aff;
$standardSpace: 1rem;
$standardRadius: 12px;

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: $backDrop;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header_form {
      display: flex;
      margin-bottom: $standardSpace;
      position: relative;

      h1 {
        margin: auto;
        color: #ffffff;
        font-weight: 500;
      }

      .close-modal-btn {
        left: 90%;
        position: absolute;
        display: flex;
        align-self: center;
        border: none;
        cursor: pointer;
        background: none;

        svg {
          color: #ffffff;
          font-size: 1.5rem;
        }
      }
    }

    label {
      color: #ffffff;
    }

    .esqueciasenha {
      text-align: right;
      margin-bottom: $standardSpace;
    }

    button.change-page-btn {
      width: 8rem;
      display: flex;
      justify-content: center;
      align-self: center;
      border: none;
      margin-top: $standardSpace;
      border-radius: $standardRadius;
      background: none;
      color: #ffffff;
      cursor: pointer;
    }

    p {
      color: white;
      text-align: center;
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: white;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}

.modal {
  .header_form {
    .registerTitle {
      font-size: 1.6rem;
    }
  }

  .registerScroll {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 100%;
  }

  .bottom_register_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .submit-btn {
    margin-top: $standardSpace;
  }
}

/* 

Hide arrows from input (type = number) 
Esconder setas do input (type = number)

*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 900px) {
  .backdrop .modal {
    width: 450px;
  }
}

@media screen and (max-height: 700px) {
  .backdrop {
    .register_modal {
      width: 40%;
      height: 60%;

      form {
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 1rem;
      }
    }
  }
}

@media screen and (min-height: 701px) {
  .backdrop {
    .modal {
      form {
        .registerScroll {
          overflow-y: scroll;
          flex-wrap: nowrap;
          max-height: 25rem;
          padding-right: 1.2 * $standardSpace;
          margin-left: 1.2 * $standardSpace;
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
  .backdrop .modal {
    .submit-btn {
      width: 7rem;
      padding: 0.5rem 3rem;
      font-size: 0.7rem;
    }
    p {
      font-size: 0.7rem;
    }
    .input {
      padding: 0.4rem 0.5rem;
      margin: 0.6rem 0;
    }
  }
}

@media only screen and (max-width: 550px) {
  .backdrop .modal {
    min-width: 80%;

    .header_form .registerTitle {
      font-size: 0.9rem;
    }
    h1 {
      font-size: 1rem;
    }
    label {
      font-size: 0.8rem;
    }
    .esqueciasenha {
      margin-bottom: 0;
      font-size: 0.65rem;
    }
    .input {
      padding: 0.4rem 0.5rem;
      margin: 0.6rem 0;
    }
    .submit-btn {
      width: 5rem;
      padding: 0.5rem 3rem;
      font-size: 0.65rem;
    }
    p {
      font-size: 0.65rem;
    }
    .change-page-btn {
      font-size: 0.65rem;
    }
  }
}
