@charset "utf-8";

.header{
    display: flex;
    width: 100%;
    height: 9vh;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid #acacaca1;
    box-sizing: border-box;
    overflow: auto;
}

.left{
    display: flex;
    width: 25%;
    height: 9vh;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}

.icon{
    display: flex;
    align-items: center;
}

.icon a img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 9vh;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
}

.darkmode{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.darkmode button{
    border: none;
    display: flex;
    align-items: center;
    background-color: #ffffff00;
    cursor: pointer;
}

.darkmode button svg{
    font-size: 2rem;
    color: #7F75FF;
}

.search{
    display: flex;
    align-items: center;
    border-radius: 12px;
    border-right: none;
    width: 40rem;
    height: 3rem;
    padding: 1.5rem;
}

.search input{
    border: none;
    font-size: 1.1em;
    border-radius: 12px;
    padding: 0.5rem;
    margin-left: 1rem;
    width: 95%;
}

.search svg{
    color: #564AFF;
    font-size: 1.3em;
}

.search input:focus-visible{
    outline: none;
}

.search input::placeholder{
    color: #616161;
    opacity: 0.7;
}

/* Section right: Register & Login */

.right{
    display: flex;
    width: 30%;
    height: 9vh;
    flex-direction: row;
    justify-content: center;
}

.right div{
    margin-left: 35px;
}

.login{
    display: flex;
    align-items: center;
}

.login button{
    border: none;
    background-color: #7F75FF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login button a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}
.login button a:hover, .register button a:hover{
    background-color: #ACACAC;
    border-radius: 12px;
    transition: 0.5s;
}

.register{
    display: flex;
    align-items: center;   
}

.register button{
    border: none;
    background-color: #564AFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register button a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.6rem;
    height: 3rem;
    padding: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}


.register button img{
    width: 1.3rem;
}

.box_shadow{
    box-shadow: 0px 5px 10px #4242422b;
}

@media screen and (max-width: 1600px) {
    
    .header{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .header .left{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .header .center{
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .header .center .darkmode{
        width: 10%;
        margin: 0;
        display: flex;
        align-self: center;
        justify-content: space-between;
    }

    .header .center .search{
        width: 90%;
        display: flex;
        align-self: center;
    }

    .header .center .search input{
        width: 70%;
    }
    .header .center .search button{
        width: 30%;
    }

    .header .right{
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 900px) {
    .header .center .darkmode{
        width: 20%;
    }

    .header .center .search{
        width: 80%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1600px){
    .header .center .search{
        width: 400px;
    }
    .header .center .search input{
        width: 90%;
    }
}

@media screen and (max-width: 699px){
    .header .center .search input{
        width: 90%;
    }
}

@media screen and (max-height: 580px){
    .header{
        height: 190px;
    }
    .header .left{
        height: 50px;
    }
    .header .center{
        height: 80px;
    }
    .header .right{
        height: 80px;
    }
}