@charset "utf-8";

.inputFields {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 

Span - errorMessage

*/

span.span_inputFields {
  font-size: 0.8rem;
  background-color: #7f75ff;
  border-radius: 12px;
  padding: 0.5rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: justify;
  display: none;
}

input.inputFields {
  margin: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 0.7rem 1rem;
  font-size: 0.9em;
}

input.inputFields:focus-visible {
  outline: none;  
}

input.inputFields:invalid[focused="true"] ~ span {
  display: block;
}

@media only screen and (max-width: 550px) {
  span.span_inputFields{
    font-size: 0.65rem;
  }
}

@media screen and (max-height: 800px) {
  span.span_inputFields{
    font-size: 0.65rem;
  }
}