@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$backDrop: rgba(0, 0, 0, 0.2);
$lightPurple: #7f75ff;
$darkPurple: #564aff;
$standardSpace: 1rem;
$standardRadius: 12px;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: $backDrop;

  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header_form {
      display: flex;
      margin-bottom: $standardSpace;
      position: relative;

      h1 {
        margin: auto;
        color: #ffffff;
        font-weight: 500;
      }

      .close-modal-btn {
        left: 90%;
        position: absolute;
        display: flex;
        align-self: center;
        border: none;
        cursor: pointer;
        background: none;

        svg {
          color: #ffffff;
          font-size: 1.5rem;
        }
      }
    }

    label {
      color: #ffffff;
    }

    .input {
      &:focus-visible {
        outline: none;
      }
    }

    .esqueciasenha {
      text-align: right;
      margin-bottom: $standardSpace;
    }

    button.change-page-btn {
      width: 8rem;
      display: flex;
      justify-content: center;
      align-self: center;
      border: none;
      margin-top: $standardSpace;
      border-radius: $standardRadius;
      background: none;
      color: #ffffff;
      cursor: pointer;
    }

    .submit-btn {
      &:hover {
        color: $lightPurple;
        background-color: #ffffff;
        transition: 0.5s ease;
      }
    }

    p {
      color: white;
      text-align: center;
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: white;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}

/* 

Hide arrows from input (type = number) 
Esconder setas do input (type = number)

*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 900px) {
  .backdrop .modal {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .backdrop .modal {
    min-width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  .backdrop .modal {
    min-width: 80%;
  }
}
