input{
    width: 200px;
    height: 100px;
    appearance: none;
    background-color: #DAE2DF;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    
    position: relative;
}

input:checked{
    background-color: #3DECB1;
}

input:before{
    content: '';
    width: 100px;
    height: 100px;
    background-color: #EDF3F1;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.24);;
    transform: scale(1.1);
    top: 0;
    left: 0;
    transition: .5s ease;
}

input:checked:before{
    left: 100px;
    transition: 0.5s ease;
}
