@charset "utf-8";

/* Form: */

form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Asides: */

.profileAsideL{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileAsideM{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileAsideR{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid green;
}

.row{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid black;
}

/* profileAsideL: */

.userFirstName{
    width: 35%;
}

.userLastName{
    width: 60%;
}

.userEmail{
    width: 60%;
}

.userPassword{
    width: 35%;
}

.userCPF{
    width: 40%;
}

.userDTNasc{
    width: 55%;
}


/* profileAsideM: */

.userPhone{
    width: 95%;
}

.userToggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userToggleOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* profileAsideR: */

.user_h2{
    font-size: 0.9em;
    font-weight: 400;
}


/* To All: */

.labelSVG{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userInput{
    width: 100%;
}
